html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    color: #333333;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  overflow: hidden;
}

.small {
    font-size: small;
}

.capitalize {
    text-transform: capitalize;
}
.main-background {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main-page {
    height: 400px;
}

.page {
    min-height: 480px;
}

.title {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 450%;
    text-shadow: 2px 2px 8px rgba(120, 120, 120, 0.4);
}

.main {
    font-size: xx-large;
    font-weight: lighter;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    color: #666666;
}

.main-img {
    max-width: 100px;
    max-height: 100px;
    border: 3px solid #f1f1f1;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-left: 100px;
    margin-bottom: 100px;
}

.main-list {
    font-weight: 200;
}

p {
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover { 
    color: dodgerblue;
}

.main-label {
    border-left-color: dodgerblue;
    border-left-style: solid;
    border-left-width: 4px;
}

.dodgerblue {
    color: dodgerblue !important;
}
