
html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 200 !important;
    
    margin: 0px;
    padding: 0px;
    color: #333333;
    background-color: white;
}

a {
    text-decoration: none;
}

.page {
   height: calc(100vh - 35px);
}

.small {
    font-size: small;
}

.capitalize {
    text-transform: capitalize;
}
.jumbotron {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.jumbotron-text {
    padding: 140px;
}

.form {
    background-color: #028299;
    color: whitesmoke;
}

.title {
    color: #fdfdfd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 450%;
    text-shadow: 2px 2px 8px rgba(120, 120, 120, 0.4);
}

.slogan {
    font-size: xx-large;
    font-weight: lighter;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    color: #666666;
}

.albaco-img {
    max-width: 100px;
    max-height: 100px;
    border: 3px solid #f1f1f1;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 80px;
}

.white {
    color: white;
}

.dodgerblue {
    color: dodgerblue !important;
}

md-icon svg {
  fill: inherit;
}

.s18 {
  width: 18px;
  height: 18px;
}

.s24 {
  width: 24px;
  height: 24px;
}

.s36 {
  width: 36px;
  height: 36px;
}