<div ng-include=" 'templates/partials/toolbar.html' "></div>
<div flex layout="row">
  <div ng-include=" 'templates/partials/sidebar.html' "></div>
  <div flex-xs flex-gt-xs="50" layout="column" layout-padding>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Cuenta</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-card-content-text>
          <ul>
            <li><strong>{{ account_name }}</strong></li>
            <li>{{ profile_name }}</li>
          </ul>
        </md-card-content-text>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Modificaciones</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-card-content-text>
          <ul>
            <li>Ajuste de rol en usuarios</li>
            <li>Catalogo de roles</li>
            <li>Impresion PDF</li>
            <li>Cambio de usuario</li>
            <li>Contraseña</li>
            <li class="line-through">Nombre de la empresa</li>
            <li>Calculo de precios</li>
            <li class="line-through">Administracion de almacen listo</li>
            <li class="line-through">Administracion de usuarios listo</li>
            <li class="line-through">Administracion de proveedores listo</li>
            <li class="line-through">Administracion de categorias listo</li>
            <li>Administracion de productos listo</li>
            <li class="line-through">Datos de la cuenta</li>
          </ul>
        </md-card-content-text>
      </md-card-content>
    </md-card>
  </div>
</div>