<div layout="column" layout-fill layout-align="center center">
  <div layout="column" role="main">
    <div layout-align="space-between stretch" layout="column">
      <div layout="row" layout-padding layout-align="center">
       <div flex="66">
        <h1 class="title">Albaco</h1>
        <section layout="row">
          <p>Albaco POS es un software de punto de venta.</p> 
        </section>
        <section layout-align="center" layout="row">
          <a class="small" ng-href="#/"><md-icon md-svg-icon="arrow_back"></md-icon> regresar a inicio</a> 
        </section>
       </div>
      </div>
    </div>
  </div>
</div>