<div ng-include=" 'templates/partials/back.html' "></div>
<md-content id="content" layout-align="center" class="md-padding" layout="column">
    <!-- Inicia formulario -->
    <form name="form">
        <md-input-container class="md-block">
            <label>Nombre</label>
            <input name="store_name" ng-model="item.store_name" type="text" ng-change="change()" md-maxlength="45" capitalize required autofocus>
            <div ng-messages="form.store_name.$error">
                <div ng-message="required">Campo requerido</div>
                <div ng-message="md-maxlength">El campo debe de ser de menos de 45 caracteres de longitud</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Dirección</label>
            <input name="store_address" ng-model="item.store_address" type="text" ng-change="change()" md-maxlength="45" capitalize required>
            <div ng-messages="form.store_address.$error">
                <div ng-message="required">Campo requerido</div>
                <div ng-message="md-maxlength">El campo debe de ser de menos de 45 caracteres de longitud</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Teléfono</label>
            <input name="store_phone" ng-model="item.store_phone" type="text" ng-change="change()" ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]{10}$/">
            <div ng-messages="form.store_phone.$error">
                <div ng-message-exp="['minlength', 'maxlength', 'pattern']">
                    Se requiere un teléfono valido
                </div>
            </div>
        </md-input-container>
    </form>
    <!-- Termina formulario -->
</md-content>
<md-button  ng-disabled="!form.$valid" class="md-fab md-fab-bottom-right" ng-click="save()">    
  <md-icon md-svg-icon="check"></md-icon>
  <md-tooltip md-direction="top"> Aceptar </md-tooltip>
</md-button>  