<div layout="column" layout-fill>
  <md-content layout-align="center" class="md-padding" layout="row">
    <section>
      <md-subheader class="md-primary">Listado de clientes</md-subheader>
      <md-list layout-padding>
          <md-list-item class="md-2-line"ng-repeat="item in items | filter: data.searchQuery">
            <img gravatar-src="item.customer_email" gravatar-size="100" class="md-avatar" alt="{{ item.customer_key }}">
            <div class="md-list-item-text" layout="column">
              <h4>{{ item.customer_name | uppercase }}</h4>
              <p>{{ item.customer_address_1 | uppercase }} {{ item.customer_address_2 | uppercase }}</p>
            </div>
            <div id="header" ng-include=" 'templates/template.menu.html' "></div>
            <md-divider></md-divider>
          </md-list-item>
      </md-list>
    </section>
  </md-content>
  <md-button class="md-fab md-fab-bottom-right md-warn" ng-click="add()">        
    <md-icon> add </md-icon>
    <md-tooltip md-direction="top"> Agregar cliente </md-tooltip>
  </md-button>
</div>