
  <div class="main-background main-page">
    <h1 class="title">albaco</h1>
  </div>
  <md-content class="">
    <div layout-align="center center">
      <p class="main center center">albaco, un POS enfocado a la nube</p>
    </div>
    <div class="ng-scope">
      <div class="flex">
        <img src="/images/albaco.png" class="main-img" alt="logo">
      </div>
      <div class="flex-60">
        <ul class="main-list">
          <li>Ligero</li>
          <li>Android, iOS, Windows</li>
          <li>Administración centralizada</li>
        </ul>
      </div>
    </div>
  </md-content>