<md-content id="content" layout-align="center" class="md-padding" layout="column">
    <!-- Inicia formulario -->
    <form name="form">
        <md-input-container class="md-block">
            <label>Contraseña</label>
            <input name="profile_password_1" ng-model="profile.profile_password_1" type="text" ng-minlength="8" ng-maxlength="20" required autofocus>
            <div ng-messages="form.profile_password_1.$error">
                <div ng-message-exp="['minlength', 'maxlength', 'required']">
                    Se requiere una contraseña valida de minimo 8 y maximo 20 caracteres de longitud
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Confirmación</label>
            <input name="profile_password_2" ng-model="profile.profile_password_2" type="text" ng-minlength="8" ng-maxlength="20" required repeat-password="profile_password_1">
            <div ng-messages="form.profile_password_2.$error">
                <div ng-message-exp="['minlength', 'maxlength', 'required']">
                    Se requiere una contraseña valida de minimo 8 y maximo 20 caracteres de longitud
                </div>
            </div>
            <div ng-messages="form.profile_password_2.$error.dontMatch">
              gg
            </div>
        </md-input-container>
    </form>
    <!-- Termina formulario -->
</md-content>
<md-button ng-disabled="!form.$valid" class="md-fab md-warn md-fab-bottom-right" ng-click="save()">        
    <md-icon> check </md-icon>
    <md-tooltip md-direction="top"> Guardar </md-tooltip>
</md-button>